// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

table {
  border: {
    collapse: collapse;
    spacing: 0;
  }
}

table, tr, th, td {
  margin: 0;
  padding: 0;
}

th, td {
  border: 1px solid #97999B;
}

